body{
    margin: 0;
    padding: 0;
    background: aqua;
}

h1{
    text-align: center;
    color:orange;
}

form{
    width: 400px;
    margin: 50px auto;
    padding: 10px 10px;
    border: 2px solid #ccc;
    text-align: center;
}

p{
    margin: 0 0;
    padding: 0 0;
}

input{
    margin: 10px 10px;
}

input[type="submit"]{
    padding: 10px 30px;
    color:brown;
}
.errorLog , .errorPass{
    color:red;
    display: none;
}